<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mogra&display=swap" rel="stylesheet">
    <script src="/dashboard.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">Link<span>utter</span>
          <img src="/favicon.ico" height="40px" alt="logo">
        </div>
      </header>
      <div class="nav-btn">Menu</div>
      <div class="container">

       <%- include('./partials/sidebar.ejs') %>
   
        <div class="main-content">
          <h1>Dashboard</h1>
          <p>Your links</p>
          <% data.forEach(element => { %>
          <div class="panel-wrapper">
            <div class="panel-head">
              <a href="/dashboard/links/<%=element.short_link%>">
                linkutter.onrender.com/<%=element.short_link%>
              </a>
            </div>
            <div class="panel-body">
                <p><span>LONG LINK:</span> <%= element.long_link %></p>
                <p><span>CREATED AT:</span> <%= element.formatted_created %></p>
                <p><span>OPENED AT:</span> <%= element.formatted_open %></p>
                <p><span>BY PUBLIC IP:</span> <%= element.ip %></p>
                <p><span>BY USER:</span> <%= element.username %></p>
            </div>
          </div>
          <% }); %>
          </div>
        </div>
      </div>
</body>
<script>
  document.getElementById('dashboard').classList.add('active');
</script>
</html>