<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mogra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard.css"/>
    <title>Detailed Link</title>
</head>
<body>
    <%- include('./partials/sidebar.ejs') %>
    
    <% const ipMap = [];

    data.forEach(item => {
    const ip = item.ip;
    if (ipMap[ip]) {
        ipMap[ip].count++;
    } else {
        ipMap[ip] = { ...item, count: 1 };
    }
    }); %>


    <div class="main-content">
        <h1>Detailed Link</h1>
        <p><%= link.short_link %></p>
        <div class="panel-wrapper">
            <div style="border-radius: 10px;" class="panel-head">
                <p>
                    <img src="/favicon.ico" width="15px" alt="original_link_icon">Kutted link:
                </p>linkutter.onrender.com/<%=link.short_link%>
                <p style="margin-top: 20px">
                    <img src="/native.png" width="15px" alt="original_link_icon">Original link:
                </p><span><%= link.long_link %></span>
            </div>
        </div>
        <% Object.entries(ipMap).forEach(([ip, data]) => { %>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <p><span>IP:</span> <%= ip %></p>
                    <p><span>USERNAME:</span> <%= data.username || 'N/A' %></p>
                    <p><span>OPENED AT:</span> <%= data.formatted_opening || 'N/A' %></p>
                    <p><span>CLICKS:</span> <%= data.count %></p>
                </div>
            </div>
        <% }); %>


    </div>
</body>
</html>