<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mogra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard.css"/>
    <title>Detailed Link</title>
</head>
<body>
    <%- include('./partials/sidebar.ejs') %>
    <% const count = data.filter(item => item.ip === '93.48.224.106').length; %>
    <% console.log(count)%>
    <div class="main-content">
        <h1>Detailed Link</h1>
        <p><%= link.short_link %></p>
        <div class="panel-wrapper">
            <div style="border-radius: 10px;" class="panel-head">
                <p><img src="/favicon.ico" width="15px" alt="original_link_icon">Kutted link:</p>linkutter.onrender.com/<%=link.short_link%>
                <p><img src="/native.png" width="15px" alt="original_link_icon">Original link:</p><%= link.long_link %>
            </div>
        </div>
        <div class="panel-wrapper">
            <div style="border-radius: 15px; " class="panel-body">
                <p><span>BY PUBLIC IP:</span> <%= data[0].ip %></p>
                <p><span>BY USER:</span> <%= data[0].username %></p>
                <p><span>OPENED LAST TIME:</span> <%= data[2].opened_at %></p>
                <p><span>CLICKS:</span> <%= count %></p>
            </div>
        </div>
    </div>
</body>
</html>